.input{
    height: 75px;
    border-radius:50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: aliceblue;
    padding: 11px;
    background-color: rgb(28, 22, 58);
    padding-right: 30px;
    font-weight: bold;
    margin:1px solid grey;
    box-shadow: 1px 4px 1px 1px white;
}