.App {
  height: 100vh;
  padding-top: 10px;
  background-color: black;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: rgb(193, 255, 255);
  border-radius: 20px;
  border: solid 1px white;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
